{% load static %}
<head>
    <script src="{% static '/js/htmx.min.js' %}"></script>

</head>




<body class="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% if not results %}

<div hx-post="click/"
     hx-target="#new"
     ></div>
{% elif  results  %}
{% for i in results  %}



<div class=" w-96 place-content-center drop-shadow-2xl shadow-white">
<form class="my-0 rounded-lg"  hx-post="{% url 'cloud' %}"
    hx-target="#new"
    hx-include="[name='name']">

    

     <button class="flex shadow-md rounded-b rounded-t-none  shadow-cyan-900 w-full bg-black pt-3  text-slate-200 hover:bg-slate-700"  type="submit"  value="{{i}}" name="name">

        <img  class="  flex-initial w-5 h-5 items-center mt-1 mx-2" src="{% static 'function/logo/' %}{{ i }}.png" alt="">
        <input class="hover:cursor-pointer mb-2 mr-10" type="submit" value="{{i}}" name="name" >



     </button>
    
     
</form>




</div>
{% endfor %}
{% endif %}

<!--<div  id="top">-->
<!--<img  class="w-64 drop-shadow-lg shadow-red-500/50   " src="{% static '/images/glitch.gif' %}" alt="">-->

<!--</div>-->