{% load static %}
<head>
    <script src="{% static '/js/htmx.min.js' %}"></script>

</head>




<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% for i in results  %}

<div  class=" m-1 p-1  h-9 rounded-t-none border-b-2 border-dotted border-b-slate-900 hover:bg-slate-900">
<form  hx-post="{% static 'function/clouds/' %}{{ i }}.svg"
    hx-target="#top"
    hx-include="[name='name']">



     <div class="flex hover:cursor-pointer  "  >
        
        <img  class=" h-4 flex-initial w-auto items-center my-2 mr-3 " src="{% static 'function/logos/' %}{{ i }}.jpg" alt="">
        <input class="hover:cursor-pointer" type="submit" value="{{i}}" name="name">



    </div>

</form>
</div>

{% endfor %}